
.name {
    padding-right: 10px;
}

ul {
    list-style: none;
    padding-top: 20px;
}

ul li {
    display: inline;
    padding-left: 50px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
}
